/*Временно, будет переделано*/
.visually-hidden {
display:none;
}


body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 33.52px;
  background-color: #282828;
  color: #ffffff;
}

/*Цвет для всех ссылок*/
a{
  color:#ffffff;
}
/*для всех ссылок С ГРАДИЕНТОМ*/  /*не забыть расставить класс для нужных элементов в html*/
.btn{
  text-decoration: none;
}
/*Кнопки*/
.button {
  font: inherit;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: none;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 22px;
}
.button:hover{
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/*Навигация в шапке*/ /**/

.main-header{
  margin: 0 auto;
  background-color: transparent;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.main-navigation{
  display: flex;
  justify-content: space-between;
}
.site-navigation li{
  padding-left: 20px;
}
.site-navigation{
  list-style: none;
  display: flex;
}
.site-navigation a{
  line-height: 18px;
}

.control, .mode{
  font-size: 14px;
  line-height: 16px;
}
.mode p:last-child{
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
.control {
  display: flex;
}

.control div{
  padding-right: 10px;
}
.containerrr{
  margin: 0 auto;
  margin-top: -114px;
  width: 1200px;
  background-color: #94aa9d;
}
/*Все для слайдера*/
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider/ice_bg1.png");
  background-repeat: no-repeat;
  background-position: top center;




}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider/ice_bg2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider/ice_bg3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}



.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  margin-top: 75px;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider/ice_bg1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider/ice_bg2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider/ice_bg3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}



/*Общий блок для малины и шоколада*/
.sale-wrapper{
  margin: 0 auto;
  margin-top: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  width: 1146px;
  display: flex;
  justify-content: space-between;
}
.sale-wrapper h3{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/*Блок с малиной*/
.sale-raze{
  background-image: url("../img/raspberries_bg.jpg");
  background-repeat:no-repeat;
  width: 560px;
  min-height: 229px;
}

/*Блок м шоколадом*/
.sale-chocolate{
  background-image: url("../img/chocolate_bg.jpg");
  background-repeat:no-repeat;
  width: 560px;
  min-height: 229px;
  z-index: 2;
}

/*Общий блок для хит-мороженок*/
.catalog-list{
  width: 1146px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  line-height: 22px;
  display:flex;
  justify-content: space-between;
}
.catalog-list li{
  width: 267px;
  word-wrap: break-word;
}
.item-price{
  font-size: 45px;
  font-weight: 700;
}
.weight{
  font-size: 30px;
  font-weight: 400;
}
/*Подчеркивание для названия мороженок */
.underline{
  text-decoration: underline;
}

/*Все для вафельки*/
.seo{
  margin: 0 auto;

  background: no-repeat url("../img/waffle_bg.jpg");
  color: #323232;
  line-height: 22px;
  font-weight: 400;
  width: 1146px;
  min-height: 306px;
}
.seo h3{
  font-size: 24px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 10px;
}
/*Список в вафле*/
.making {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.making li{
  width: 560px;
}
.making p{
  padding-left: 75px;
}
.making li:nth-child(2){
  order: 3;
}
.making li:nth-child(4){
  order:3;
}
/*Новости блога*/

.news_and_dispatch{
  margin: 0 auto;
  margin-top: 20px;
  width: 1146px;
  display: flex;
  justify-content: space-between;
}


.blog-news{
  background-color: #ffffff;
  background-image:  url("../img/strowberry_bg_news.jpg");
  background-repeat:no-repeat;
  color:#323232;
  width: 560px;
  min-height: 220px;
}
.blog-news a{
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
}

/*Рассылка*/
.dispatch{
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  width: 560px;
  min-height: 220px;
}

/*Блок с адресом на карте*/
.adress{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  width: 302px;
  background-color: #fdfefe;
}
.adress strong{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/*Центровка футера*/
.page-footer{
  margin: 0 auto;
  width: 1200px;
  background-color: #94aa9d;
  display: flex;
  justify-content: space-around;
}
.share{
}
/*Список ссылок в футере*/

.info{
  border:2px solid white;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.info li{
  border:2px solid white;
  width:140px;
}
.info li:nth-child(2){
  order: 3;
}
.info li:nth-child(4){
  order:4;
  width: 200px;
}
.info a{
  text-decoration: underline;
}
.for_suppliers{
  font-weight: 700;
}
.modal-feedback h3{
  margin:0;
}
/*Копирайт*/
.copyright{

  font-size: 12px;
  color: white;
}
.copyright a{
  color: white;

}
.html-logo{

}

/*CATALOG HTML*/  /**/

/*Активная страница с переходом*/
.pages{
  padding-top: 80px;
}
.pages ul{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;

}
.active-page a{
  text-decoration: none;
}

.section-title{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/*ФОРМЫ*/

/*Общее*/
.sorting p,
.catalog-price-sorting,
.radiobutton-sorting p{
  font-size: 14px;
  line-height: 16px;
}

/*Форма селектор*/

.sorting-select{
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(248, 247, 244, 0.2);
  color: white ;
 }

/*Форма сортировки по цене*/
.range{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Форма радиобаттонов*/
.radiobutton-sorting label{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Чекбоксы*/
.checkbox-sorting label{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Кнопка отправка формы*/
.sorting-button{
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}

/*Каталог*/
.catalog-items{
}
.items{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 1146px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items li{
  width: 267px;
  word-wrap: break-word;
}




/*Пагинатор*/
.pagination{
}
.page-number{

  display: flex;
  justify-content: flex-end;
  list-style: none;
  min-height: 50px;
}
.page-number li{
  padding-right: 10px;
}
.page-number a{
  text-decoration: none;
}
