/*Временно, будет переделано*/
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 33.52px;
  background-color: #282828;
  color: #ffffff;
}

/*Цвет для всех ссылок*/
a{
  color:#ffffff;
}
/*для всех ссылок С ГРАДИЕНТОМ*/  /*не забыть расставить класс для нужных элементов в html*/
.btn{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}
.btn:hover{
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Кнопки*/
.button {
  font: inherit;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: none;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 22px;
}
.button:hover{
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/*Навигация в шапке*/ /**/

.main-header{
  margin: 0 auto;
  background-color: transparent;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
.main-navigation{
  padding-top: 9px;
  padding-left: 27px;
  display: flex;
  justify-content: space-between;
}
.site-navigation li{
  padding-right: 28px;
}
.site-navigation{
  margin-top: 12px;
  padding-left:23px;
  list-style: none;
  display: flex;
}
.site-navigation a{
  line-height: 18px;
}

.control, .mode{
  font-size: 14px;
  line-height: 16px;
}
.mode p:last-child{
  font-size: 22px;
  font-weight: 700;
}
.mode{
  margin-top: 22px;
  text-align: end;
  padding-right: 9px;
  line-height: 2px;
}
.control {
  display: flex;
  padding-top:20px;
  position: relative;
}
.control-wrapper{
  margin:4px;
  margin-right: 18px;
}

.control div{
  padding-right: 10px;
}

.control-search a{
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat:no-repeat;
  background-position: center center;
  border-radius: 50%;
}


.control-login{
  position: relative;
}
.btn-login::before{
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  top: 5px;
  left: 16px;
  background-repeat:no-repeat;
  background-image: url(../img/svg-gllacy/entrancewhite.svg.png);
}
.btn-login:hover::before{
  background-image: url(../img/svg-gllacy/entrance.svg);
}



.btn-control{
  text-decoration: none;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 9px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  vertical-align: middle;
}
.btn-control:hover,
.control-search a:hover{
  background: #f8f7f4;
  color: #323232;
}
.control-search a:hover{
  background-position: center center;
  background-image: url("../img/svg-gllacy/loupe_black.svg");
  background-repeat:no-repeat;
}

.btn-login{
  display: inline-block;
 width: 92px;
}

.btn-crate{
  width: 116px;

}


.btn-login span,
.btn-crate span{
  margin-left: 45px;
}
.crate{
  position: relative;
}
.btn-crate::before{
  position: absolute;
  content: "";
  width:21px;
  height: 20px;
  top: 5px;
  left: 15px;
  background-image: url(../img/svg-gllacy/basket.svg);
  background-repeat:no-repeat;
}
.btn-crate:hover::before{
  background-image: url(../img/svg-gllacy/basket-red.svg);

}
.main-container{
  margin: 0 auto;
  margin-top: -133px;
  width: 1200px;
  background-color: #94aa9d;
}
/*Все для слайдера*/
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider/ice_bg1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 104px;



}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider/ice_bg2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider/ice_bg3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}



.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  margin-top: 72px;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 10px 40px;
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 11px;
  left: -122px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper,
#product-1:checked ~ .body{
  background-color: #849d8f;
  background-image: url("../img/slider/ice_bg1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider/ice_bg2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider/ice_bg3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}



/*Общий блок для малины и шоколада*/
.sale-wrapper{
  margin: 0 auto;
  margin-top: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  width: 1146px;
  display: flex;
  justify-content: space-between;
}
.sale-wrapper h3{
  margin-left: 18px;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.sale-raze,
.sale-chocolate{
  border-radius: 15px;
  margin-bottom: auto;

}
.sale-chocolate p,
.sale-raze p{
  margin: 0;
  margin-left: 18px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.sale-raze .btn-raze,
.sale-chocolate .btn-chocolate{
  float:right;
  padding: 11px 23px;
  padding-bottom: 12px;
  margin-bottom: 23px;
  margin-right: 20px;
  border-radius: 22px;

}
.sale-chocolate .btn-chocolate{
  padding: 10px 21px;
  padding-bottom: 12px;
}




/*Блок с малиной*/
.sale-raze{
  background-color: #630e1e;
  background-image: url("../img/raspberries_bg.jpg");
  background-repeat:repeat-y;
  width: 560px;
  min-height: 229px;
}

/*Блок м шоколадом*/
.sale-chocolate{
  background-color: #3d2317;
  background-image: url("../img/chocolate_bg.jpg");
  background-repeat:repeat-y;
  width: 560px;
  min-height: 229px;
  z-index: 2;
}

/*Общий блок для хит-мороженок*/
.catalog-list{
  width: 1146px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  line-height: 22px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-list li{
  position: relative;
  width: 267px;
  word-wrap: break-word;
}
.item-price{
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  top: 175px;
}
.weight{
  font-size: 30px;
  font-weight: 400;
}
.product-card img{
  background-origin: border-box;
  background-clip: content-box;
  border-radius: 50%;
  margin: 0;
}
.product-card .hit{
  width: 61px;
  height: 61px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  background-image: url("../img/svg-gllacy/hit.svg");
}
/*Подчеркивание для названия мороженок */
.underline{
  text-decoration: underline;
  text-align: center;
  margin-top: 5px;
}

/*Все для вафельки*/
.seo{
  margin: 0 auto;
  margin-top: 23px;
  background: no-repeat url("../img/waffle_bg.jpg");
  color: #323232;
  line-height: 22px;
  font-weight: 400;
  width: 1146px;
  min-height: 306px;
  border-radius: 15px;
}
.seo h3{
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 24px;
  font-weight: 500;
}
/*Список в вафле*/
.making {
  margin:0;
  padding:0;
  padding-top: 18px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.making li{
  width: 560px;
  position: relative;

}
.making li:nth-child(1):before{
  content: "";
  width: 49px;
  height: 49px;
  top: -8px;
  left: 20px;
  position: absolute;
  background-image: url(../img/svg-gllacy/ice-cream.svg);
}
.making li:nth-child(2):before{
  content: "";
  width: 49px;
  height: 49px;
  top: -8px;
  left: 20px;
  position: absolute;
  background-image: url(../img/svg-gllacy/eco.svg);
}
.making li:nth-child(3):before{
  content: "";
  width: 49px;
  height: 49px;
  top: -8px;
  left: 25px;
  position: absolute;
  background-image: url(../img/svg-gllacy/cow.svg);
}
.making li:nth-child(4):before{
  content: "";
  width: 49px;
  height: 49px;
  top: -8px;
  left: 25px;
  position: absolute;
  background-image: url(../img/svg-gllacy/thermometer.svg);
}


/*Центровка всех колонок в вафле*/
.making p{
  padding-left: 76px;
}

.making li:nth-child(2){
  order: 3;
}
.making li:nth-child(4){
  order:3;
  padding-left: 8px;
  width: 550px;
}
.making p:last-child{
  margin-top: 5px;
}
.making li:nth-child(3){
  padding-left: 8px;
  width: 550px;
}
/*Новости блога*/

.news_and_dispatch{
  margin: 0 auto;
  margin-top: 40px;
  width: 1146px;
  display: flex;
  justify-content: space-between;
}
.blog-news,
.dispatch{
  border-radius: 15px;
}

.blog-news{
  background-color: #ffffff;
  background-image:  url("../img/strowberry_bg_news.jpg");
  background-repeat:no-repeat;
  color:#323232;
  width: 560px;
  min-height: 220px;
}
.blog-news-position p{
  margin: 0;

}
.blog-news-position{
  width:282px ;
  margin-left: 20px;
  margin-top: 18px;

}


.blog-news-position a{
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
}

/*Рассылка*/
.dispatch{
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  width: 560px;
  min-height: 220px;


  background-image: url("../img/svg-gllacy/bg-post.svg");
}
.dispatch-content p{
  margin: 0;
  padding: 30px 20px;
}
.dispatch-content{
  margin: 5px 6px;
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 15px;
}
.dispatch-form{
  margin-top: 8px;

}
.dispatch-button{
  font-size: 18px;
  margin-left: 8px;
  margin-top: -7px;
  font-weight: 700;
  width: 129px;
  min-height: 43px;
  text-align: center;
  vertical-align: middle;

}
.dispatch-form input[type="email"]{
  box-sizing: border-box;
  width: 368px;
  min-height: 44px;
  margin-left:20px;
  border: 1px solid rgba(178,178,178,0.52);
  border-radius: 5px;
}


/*Блок с адресом на карте*/
.map{
  position: relative;
  margin-top: 40px;
  height: 430px;
  overflow: hidden;

}

.adress{
  position: absolute;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  width: 302px;
  background-color: #fdfefe;
  border-radius: 15px;
  z-index: 30;
  top: 62px;
  right: 28px;
}
.adress p{
  margin-left: 26px;
}
.adress p:first-child{
  margin-bottom: 0;
  margin-top: 30px;
}
.adress p:nth-child(2){
  margin-top:0;
  margin-bottom: 0;
}
.adress p:nth-child(3){
  margin-top: 18px;
  margin-bottom: 0;
}
.adress p:nth-child(4){
  margin-top: 4px;
}
.adress strong:nth-child(2){
  margin-bottom:15px;
}
.adress strong{
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map-btn{
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 13px;
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  border-radius: 22px;
  margin-top: 26px;
  margin-bottom: 30px;

}

/*Центровка футера*/
.page-footer{
  margin: 0 auto;
  margin-top: -87px;
  width: 1200px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.share{
  margin-top: 15px;
  margin-left: 28px;
}
.social{
  box-sizing: border-box;
  font-size:0px;
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 8px;
  border: 3px solid rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 1px white;
  border-radius: 50%;
  background-color: white;
}
.social-tw{
  background:  no-repeat url("../img/svg-gllacy/twitter.svg") center ;
}
.social-in{
   background: url("../img/svg-gllacy/instagram.svg") no-repeat center;
}
.social-fb{
  background: url("../img/svg-gllacy/fb.svg") no-repeat center;
}
.social-vk{
  background: url("../img/svg-gllacy/vk.svg") no-repeat center;
}
/*Список ссылок в футере*/

.info{
  margin-left: 24px;
  margin-top: 17px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.info li{

  margin-left: 35px ;

  width:140px;
}
.info li:nth-child(3){
  margin-left: 1px;

}
.info li:nth-child(2){

  order: 3;
}
.info li:nth-child(4){
  margin-left: 1px;
  order:4;
  width: 200px;
}
.info a{
  text-decoration: underline;

}
.for_suppliers{
  position: relative;
  font-weight: 700;
}
.for_suppliers::before{
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  display: block;
  width: 15px;
  height: 13px;
  background-image: url("../img/svg-gllacy/heart.svg");
  background-repeat: no-repeat;


}
.modal-feedback h3{
  margin:0;
}
/*Копирайт*/
.copyright{
  position: relative;
  padding-right:24px;

}
.footer-copyright{
  margin-top:36px;
  margin-bottom: 12px;
  font-size: 12px;
  color: white;
}
.footer-copyright a{

  color: white;

}
.html-logo{
  position: absolute;

}

/*CATALOG HTML*/  /**/

/*Активная страница с переходом*/
.pages{
  padding-top: 80px;
}
.pages ul{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;

}
.active-page a{
  text-decoration: none;
}

.section-title{
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

/*ФОРМЫ*/

/*Общее*/
.sorting p,
.catalog-price-sorting,
.radiobutton-sorting p{
  font-size: 14px;
  line-height: 16px;
}

/*Форма селектор*/

.sorting-select{
  font-size: 16px;
  line-height: 18px;
  background-color: rgba(248, 247, 244, 0.2);
  color: white ;
 }

/*Форма сортировки по цене*/
.range{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Форма радиобаттонов*/
.radiobutton-sorting label{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Чекбоксы*/
.checkbox-sorting label{
  background-color: rgba(255, 255, 255, 0.2);
}

/*Кнопка отправка формы*/
.sorting-button{
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
}

/*Каталог*/
.catalog-items{
}
.items{

  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 1146px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items li{
  position: relative;
  width: 267px;
  word-wrap: break-word;
}




/*Пагинатор*/
.pagination{
}
.page-number{
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  min-height: 50px;
}
.page-number li{
  padding-right: 10px;
}
.page-number a{
  text-decoration: none;
}
